<odoo>
  <data>
    <menuitem name="Ozon" id="ozon.menu_root" sequence="1" />

    <menuitem name="Продукты" id="main_menu_products" parent="ozon.menu_root" sequence="2"
      action="action_products" />
    <menuitem name="Доходы/расходы" id="main_menu_finance" parent="ozon.menu_root" sequence="3" />
    <menuitem name="История" id="main_menu_history" parent="ozon.menu_root" sequence="4" />
    <menuitem name="Планирование" id="main_menu_plan" parent="ozon.menu_root" sequence="5" />
    <menuitem name="Отчёты" id="main_menu_reports" parent="ozon.menu_root" sequence="6" />
    <menuitem name="Когортный анализ" id="main_menu_analytics" parent="ozon.menu_root" sequence="7" />
    <menuitem name="Работа менеджера" id="main_menu_manager" parent="ozon.menu_root" sequence="8" />
    <menuitem name="Конкуренты" id="main_menu_competitors" parent="ozon.menu_root" sequence="9" />
    <menuitem name="Акции" id="main_menu_actions" parent="ozon.menu_root" sequence="10" />
    <menuitem name="Справочники" id="main_menu_dicts" parent="ozon.menu_root" sequence="11" />
    <menuitem name="Импорт" id="main_menu_import" parent="ozon.menu_root" sequence="12" />
    <menuitem name="Другое" id="main_menu_other" parent="ozon.menu_root" sequence="20" />
  </data>
</odoo>