[submodule "django/app/chrome-extension"]
	path = django/app/chrome-extension
	url = https://github.com/bnpi-retail/chrome-extension.git
[submodule "tasks"]
	path = tasks
	url = https://github.com/bnpi-retail/temporalio.git
[submodule "temporalio"]
	path = temporalio
	url = https://github.com/bnpi-retail/temporalio.git
	branch = tasks
