<odoo>
    <data>

        <!-- Form -->
        <record id="view_settings_form" model="ir.ui.view">
            <field name="name">Настройки</field>
            <field name="model">ozon.settings</field>
            <field name="arch" type="xml">
                <form>
                    <group string="Продажа товара">
                        <field name="name" />
                        <field name="value" password="True" />
                    </group>
                </form>
            </field>
        </record>

        <!-- Tree -->
        <record id="view_settings_tree" model="ir.ui.view">
            <field name="name">Настройки</field>
            <field name="model">ozon.settings</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name" />
                    <field name="value" password="True" />
                </tree>
            </field>
        </record>

        <!-- Action -->
        <record model="ir.actions.act_window" id="action_settings">
            <field name="name">Настройки</field>
            <field name="res_model">ozon.settings</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Menu -->
        <menuitem name="Настройки"
            id="menu_settings"
            parent="main_menu_dicts"
            action="action_settings"
            sequence="42" />

    </data>
</odoo>