.ozon_price_comparison_tree_view [data-name="name"] {
    width: 25%;
}

.ozon_price_comparison_tree_view [data-name="string_plan_value"] {
    width: 7%;
}

.ozon_price_comparison_tree_view [data-name="string_market_value"] {
    width: 7%;
}

.ozon_price_comparison_tree_view [data-name="string_fact_value"] {
    width: 7%;
}

.ozon_price_comparison_tree_view [data-name="string_diff_fact_market"] {
    width: 7%;
}

.ozon_price_comparison_tree_view [data-name="string_diff_plan_fact"] {
    width: 7%;
}

.ozon_price_comparison_tree_view [data-name="string_calc_value"] {
    width: 7%;
}